<p><%= link_to "Update Topics of Interest", user_path(@user) %></p>
<p>Tutor:<%= @user.profile.tutor %></p>

<% if @user.profile.tutor == true %>
  <%= render "student" %>
<% else %>
  <%= render "tutor" %>
<% end %>
