<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>email</title>
<link href="http://0.0.0.0:3000/assets/css/email.css" media="screen" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="stylesheets/email.css" />

</head>
 
<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#999999">
  <tr>
    <td></td>
    <td class="header container" >
        
        <div class="content">
        <table>
          <tr>
            <td><img src="https://raw.github.com/blairanderson/tutorgrapeapi/master/app/assets/images/logo_sm_horizontal@2X.png" /></td>
          </tr>
        </table>
        </div>
        
    </td>
    <td></td>
  </tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" bgcolor="#FFFFFF">

      <div class="content">
      <table>
        <tr>
          <td>
            <h3><%= @profile.best_name %></h3>
            <p class="callout">
              <%= link_to "Activate your Account", @activation_url %>
            </p><!-- /Callout Panel -->         
               

            <p class="lead">Tutorgrape is a web-based responsive application that is meant to connect people in their cities and neighborhoods who want to learn or help others learn more and/or understand concepts they are learning fully and provide a space in which these people can interact in— quickly, clearly and safely.</p>
                 
            <!-- social & contact -->
            <table class="social" width="100%">
              <tr>
                <td>
                  
                  <!-- column 1 -->
                  <table align="left" class="column">
                    <tr>
                      <td>        
                        
                        <h5 class="">Connect with Us:</h5>
                        <p class=""><a href="http://github.com/blairanderson/tutorgrapeapi" >Github</a></p>
            
                        
                      </td>
                    </tr>
                  </table><!-- /column 1 -->  
                  
                  <!-- column 2 -->
                  <table align="left" class="column">
                    <tr>
                      <td>        
                                      
                        <h5 class="">Contact Info:</h5>                       
                        <p><br/>
                Email: <strong><a href="emailto:tutorgrape@tutorgrape.com">tutorgrape@tutorgrape.com</a></strong></p>
                
                      </td>
                    </tr>
                  </table><!-- /column 2 -->
                  
                  <span class="clear"></span> 
                  
                </td>
              </tr>
            </table><!-- /social & contact -->
            
          </td>
        </tr>
      </table>
      </div><!-- /content -->
                  
    </td>
    <td></td>
  </tr>
</table><!-- /BODY -->
</body>
</html>
